{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is Jabalpur Police Utility website.</p>
		<p>
			You can file a complaint here. Please Sign in to access Admin Panel.
		</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>dwivedi.aman96@gmail.com</strong> and the password <strong>musicstar</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
	</div>
</div>
