{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>

		<hr>
		<p>Admin User:<strong> dwivedi.aman96@gmail.com</strong><br>Password: <strong>musicstar</strong></p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
	</div>
</div>
